
    
    <div class="hero-main">
      <div class="left-circle"></div>
      <div class="right-circle"></div>
      <div class="left-component">
        <h1>Diligentia</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae cupiditate alias autem perspiciatis est provident libero exercitationem tempora fuga! Id, possimus. Officia porro, laboriosam magnam nostrum atque reprehenderit quasi a sequi nulla quibusdam aliquid neque odio libero tenetur ut consequatur placeat qui quae explicabo veniam optio voluptates incidunt distinctio. Iste, voluptate accusamus.</p>
        <div class="left-links">
          <button>
            Join Mentorship
          </button>
          <div class="workings">
            <a href="">See how it works 
              <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
            </span>
            </a>
          </div>
        </div>
      </div>
      <div class="right-component">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets1.lottiefiles.com/packages/lf20_ryoaipy4.json"  background="transparent"  speed="1"  style="width: 100%; height: 100%;"  loop  autoplay></lottie-player>
      </div>
    </div>
  </section>
    <section style="height: 100vh;"></section>
  