.sidebar{
    flex: 0.2;
}
.SidebarRow{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.sidebarRow-icon{
    /* height:25px; */
    color: #606060;
    font-size: large !important;
}
.title{
    flex: 1;
    font-size: 12px;
    font-weight: 500;
    margin-left: 20px;
}
.SidebarRow:hover{
    background-color: lightgray;
    cursor: pointer;
}
.SidebarRow:hover > .sidebarRow-icon{
    color: red;
}
.SidebarRow:hover > .title{
    font:bold;
}
.SidebarRow.selected{
    background-color: lightgray;
}
.SidebarRow.selected > .sidebarRow-icon{
    color: red;
}
.SidebarRow.selected > .title{
    font: bold;
}
.sidebar > hr{
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}